<br>
<br>

{{#if userInSession.cwName}}
<div class="row justify-content-center">
<img  src="https://www.codewars.com/users/{{userInSession.cwName}}/badges/large" alt="code wars badge">
</div>
<center><h4 class="text-center head"><u>{{userInSession.username}}'s Code Wars Katas</u></h4></center>
<br>
<br>

<div class="cw-container">
{{#each cw}}
<div class="cw">
<h5><a target="_blank" href="https://www.codewars.com/kata/{{slug}}">{{name}}</a></li></h5>
Language(s) Completed in:
{{#each completedLanguages}} 
{{this}}
{{/each}}
<br>
<br>
<p>Completed on: {{completedAt}}</p>
</div>
{{/each}}
{{/if}}
</div>













