
<center><h3  class="head">NEW Language Resource</h3></center>
<div class="form-page">
  <div class="form-icon-flex">  
    <img class="form-icon" src="/images/replit-logo.png" alt="repl it icon">

    <div class="row form-row">
      <div class="col-md-12">
        <form class="add-form" action="/languages/newReplit/add" method="POST">
          <div class="form-group">
            <label> Main Language:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input class="form-control" type="text" name="lang" value="{{lang}}"placeholder="javascript HTML css python C++ shell SQL">
            </label>
          </div>
          <div class="form-group">
            <label> Language Topic/Library/"Sub-Language":
              <input type="text" name="topic" class="form-control" value="{{topic}}"
                placeholder="function node HOF canvas boost Django react">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input type="text" name="title" class="form-control" value="{{title}}"/>
            </label>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="30" rows="4">{{description}}</textarea>
            </label>
          </div>
          <div class="form-group">
            <label> Replit Url:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input class="form-control" type="text" name="riUrl" value="{{riUrl}}">
            </label>
            {{#if errorUrl}}
            <i style="color: red">**{{errorUrl}}</i>
            {{/if}}
          </div>
          <input type="hidden" name="urlType" value="replit">
          <input type="hidden" name="resType" value="code">
          <button type="submit" class="btn btn-primary">ADD RESOURCE</button>
          {{#if errorMessage}}
          <i style="color: red">*please fill in ALL required fields</i>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>
















{{!-- //Editing an Embedded Repl
// If anyone edits an embedded repl, it will automatically fork the repl for them and they will be editing their own
version. If the user is logged into Replit in their browser, the forked repl will become theirs and show up on their "My
repls" dashboard. If the owner edits an embedded repl, those changes will be saved to the repl and become visible to
others who view the embedded repl. --}}

{{!-- <iframe frameborder="0" width="100%" height="500px"
  src="https://repl.it/@amasad/PitifulLastingWhoopingcrane?lite=true"></iframe>
You can also manually embed repls by using your own custom iframe tags. These repls must have ?lite=true as a query
parameter to be embedded. You can also include outputonly=1 as a query parameter if you want to hide the editor in the
embed. Note that the code is still accessible if the user opens the repl on Replit. --}}