<br>
<div class="form-page">
  <center><h3>NEW Language Resource</h3></center>


  <div class="form-icon-flex">

      <img class="form-icon" src="/images/codepen.png" alt="codepen icon">

      <div class="row form-row ">
        <div class="col-md-12">
        <form class="add-form" action="/languages/newPen/add" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label> Main Language: 
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input class="form-control" type="text" name="lang" value="{{lang}}"placeholder="javascript HTML css">
            </label>
          </div>
          <div class="form-group">
            <label> Language Topic/Library/"Sub-Language":
              <input type="text" name="topic" class="form-control" value="{{topic}}"
                placeholder="objects datatypes sort canvas jquery sass react">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input type="text" name="title" class="form-control" value="{{title}}"/>
            </label>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="30" rows="4">{{description}}</textarea>
            </label>
          </div>
          <div class="form-group">
            <label> Codepen Url:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} {{#if errorUrl}}
            <i style="color: red">**{{errorUrl}}</i>
            {{else}} <i>*required</i>
            {{/if}}
            {{/if}}
              <input class="form-control" type="text" name="cpUrl" value="{{cpUrl}}" placeholder="https://codepen.io/@user/pen/...">
            </label>
          </div>
          <div hidden class="form-group">
            <input type="radio" name="urlType" value="codepen" checked>
            <input type="radio" name="resType" value="code" checked>
          </div>
          <button type="submit" class="btn btn-primary">ADD RESOURCE</button>
          {{#if errorMessage}}
          <i style="color: red">*please fill in ALL required fields</i>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>