{{!-- <h2>EDIT LANGUAGE RESOURCE INFO</h2> --}}
<center><h3 class="head"><span class="red-txt">EDIT</span> Language Resource </h3></center>

<div class="form-page">

  <div class="form-icon-flex">  
    {{#if foundCode.vidUrl}}
    <img class="form-icon" src="/images/youtube-button.png" alt="youtube icon">
    {{else}} {{#if foundCode.webUrl}}
    <img class="form-icon" src="/images/weblink.png" alt="web link icon">
    {{else}} {{#if foundCode.imageUrl}}
    <img class="form-icon" src="/images/camera.png" alt="camera icon">
    {{else}} {{#if foundCode.riUrl}}
    <img class="form-icon" src="/images/replit-logo.png" alt="repl it icon">
    {{else}} {{#if foundCode.cpUrl}}
    <img class="form-icon" src="/images/codepen.png" alt="codepen icon">
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}

    <div class="row form-row">
      <div class="col-md-12">
        <h5 class="text-center">{{foundCode.lang}}: {{foundCode.title}}</h5>
        <form class="add-form" action="/{{foundCode.id}}/edit" method="POST">
          <div class="form-group">
            <label> Main Language: <i style="color: red">*required</i>
              <input required class="form-control" type="text" name="lang" value="{{foundCode.lang}}">
            </label>
          </div>
          <div class="form-group">
            <label> Language Topic/Library/"Sub-Language":
              <input type="text" name="topic" class="form-control" value="{{foundCode.topic}}">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title: <i style="color: red">*required</i>
              <input required type="text" name="title" class="form-control" value="{{foundCode.title}}" />
            </label>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="30" rows="4">{{foundCode.description}}</textarea>
            </label>
          </div>
          <div class="form-group">
            <input type="hidden" name="referer" value="{{referer}}">
          </div>
          <button type="submit" class="btn btn-primary">UPDATE</button>
      </div>
    </div>
  </div>
</div>