
<center><h3 class="head">NEW Development Resource</h3></center>
<div class="form-page">

  <div class="form-icon-flex">
    <img class="form-icon" src="/images/camera.png" alt="camera icon">

    <div class="row form-row">
      <div class="col-md-12">
        <form  class="add-form" action="/dev/newPic/add" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label> Main Topic:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input class="form-control" type="text" name="lang" value="{{lang}}">
            </label>
          </div>
          <div class="form-group">
            <label> Sub Topic:
              <input type="text" name="topic" class="form-control" value="{{topic}}">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input type="text" name="title" class="form-control" value="{{title}}"/>
            </label>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="30" rows="4">{{description}}</textarea>
            </label>
          </div>
          <div class="form-group">
            <label> Image:
              <input type="file" name="image" class="form-control-file"/>
            </label>
            <br>
            {{#if errorMessage}} <i style="color: red"> **required</i>
            {{else}}{{#if errorImg}}
            <i style="color: red">*{{errorImg}}</i>
            {{else}} <i>*image JPEG/PNG/SVG/GIF/...(up to 10MB)</i>
            {{/if}} 
            {{/if}}
          </div>
          <input type="hidden" name="urlType" value="picture">
          <input type="hidden" name="resType" value="dev">
          <button type="submit" class="btn btn-primary">ADD RESOURCE</button>
          {{#if errorMessage}} 
          <i style="color: red">*please fill in ALL required fields</i>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>