<br>
<div class="form-page">
<center><h3>NEW Development Resource</h3></center>

  <div class="form-icon-flex">

  <img class="form-icon" src="/images/weblink.png" alt="web link icon">

      <div class="row form-row">
        <div class="col-md-12">
        <form class="add-form" action="/dev/newLink/add" method="POST">
          <div class="form-group">
            <label> Main Topic:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input class="form-control" type="text" name="lang" value="{{lang}}">
            </label>
          </div>
          <div class="form-group">
            <label> Sub Topic:
              <input type="text" name="topic" class="form-control" value="{{topic}}">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} <i>*required</i>
            {{/if}}
              <input type="text" name="title" class="form-control" value="{{title}}" />
            </label>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="30" rows="4">{{description}}</textarea>
            </label>
          </div>
          <div class="form-group">
            <label> Webpage Url:
            {{#if errorMessage}}
            <i style="color: red">**required</i>
            {{else}} {{#if errorUrl}}
            <i style="color: red">**{{errorUrl}}</i>
            {{else}} <i>*required</i>
            {{/if}}
            {{/if}}
              <input class="form-control" type="text" name="webUrl" value="{{webUrl}}" placeholder="http(s)://..." >
            </label>   
          </div>
          <input type="hidden" name="urlType" value="weblink">
          <input type="hidden" name="resType" value="dev">
          <button type="submit" class="btn btn-primary">ADD RESOURCE</button>
          {{#if errorMessage}} 
          <i style="color: red">*please fill in ALL required fields</i>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>