
<center><h3 class="head"><span class="red-txt"><u>EDIT</u></span> Development Resource</h3></center>
<div class="form-page">
  <div class="form-icon-flex">  
    {{#if foundCode.vidUrl}}
    <img class="form-icon" src="/images/youtube-button.png" alt="youtube icon">
    {{else}} {{#if foundCode.webUrl}}
    <img class="form-icon" src="/images/weblink.png" alt="web link icon">
    {{else}} {{#if foundCode.imageUrl}}
    <img class="form-icon" src="/images/camera.png" alt="camera icon">
    {{/if}}
    {{/if}}
    {{/if}}

    <div class="row form-row">
      <div class="col-md-12">
        <form class="add-form" action="/{{foundCode.id}}/edit" method="POST">
        <h5 class="text-center head"><span class="red-txt">{{foundCode.lang}}: {{foundCode.title}}</span></h5>
        <br>
          <div class="form-group">
            <label> Main Topic:
              <input required class="form-control" type="text" name="lang" value="{{foundCode.lang}}">
            </label>
          </div>
          <div class="form-group">
            <label> Sub Topic:
              <input type="text" name="topic" class="form-control" value="{{foundCode.topic}}">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title:
              <input required type="text" name="title" class="form-control" value="{{foundCode.title}}" />
            </label>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="3" rows="3">{{foundCode.description}}</textarea>
            </label>
          </div>
          <div class="form-group">
          {{#if foundCode.webUrl}}
            <label> Webpage Url:   
              <input class="form-control" type="text" name="webUrl" required value="{{foundCode.webUrl}}">
            </label>
            {{#if errorUrl}}
            <i style="color: red">*{{errorUrl}}</i>
            {{/if}}
          {{/if}}
          </div>
          <input type="hidden" name="resType" value="dev">
          <input type="hidden" name="referer" value="{{referer}}">
          <button type="submit" class="btn btn-primary">UPDATE</button>
      </div>
    </div>
  </div>
</div>

