<br>
  <br>
  <center> <h1 style="color:black; border: 1px black solid;" class="text-center  head font-2">BOOKMARKS <br> & <br>FOLDERS</h1></center>
  <br>
  <br>
  <hr class="hr-bm">
  <div>
    {{!-- add new folder --}}

    <div class="row">
      <div class="col-md-6">
        <form action="/bookmarks/new-folder" method="POST">
          <div class="form-group">
            <input required class="form-control-sm" type="text" name="name" placeholder="enter new folder name">
            <button type="submit"  class="btn blue-btn btn-primary fas fa-folder-plus"></button>
            {{#if errorMessage}}
            <i style="color: red">*{{errorMessage}}</i>
            {{/if}}
        </form>
      </div>
    </div>


    {{!-- display folders --}}
    <div class="row row-cols-3  row-cols-md-6">
      {{#each foldersDB}}
      <div class="col mb-1">
        {{!-- display edit name above... --}}
        <div>
          <form class="hide upF"  action="/bookmarks/folder/{{id}}/edit" method="post" class="form-inline row">
            <div class="form-group ">
              <input type="text" name="name" class="form-control form-control-sm" placeholder="...new name" required>
              <button type="submit" class="form-control btn btn-sm btn-primary blue-btn">update</button>
            </div>
          </form>
        </div>

        {{!-- display folders continued --}}
        <div class="card" style="border: none;">
          <a href="bookmarks/folder/{{_id}}"><img src="/images/blue-folder.png" class="card-img-top"
              alt="folder image">
            <div class="card-img-overlay ">
              <h5 class="card-title folderTxt">{{name}}</h5>
            </div>
          </a>
        </div>
        <div class="bottomCard card-header folder py-0 px-0 my-0 mx-0">
          {{!-- edit folder --}}
          <button class="none-btn editF"><img height="15" src="/images/edit.png" alt="edit button"></a></button>
          {{!-- delete folder --}}
          <form action="/bookmarks/folder/{{id}}/delete" method="post">
            <button class="none-btn"><img height="15" src="/images/delete.png" alt="delete"></button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <hr>
  <br>

{{!-- ////////////////////////// --}}

<div class="row justify-content-center">
  {{#each foundFavs}}
  <div class="col-9 mb-5">
    {{#unless gitRepo}}
    <div class="card ">
      {{!-- CARD HEADER --}}
      <div class="card-header py-1 ">

        <div class="justify-content-left">
          <form action="/{{id}}/delete" method="POST">
            <button class="none-btn"><img height="25" src="/images/delete.png"
                alt="delete"></button>
          </form>
        </div>
        {{#if topic}}
        <h5 class="card-text text-center mb-0">{{lang}}: <b><i>{{topic}}</i></b></h5>
        {{else}}
        <h5 class="card-text text-center mb-0">{{lang}} </h5>
        {{/if}}
        {{!-- link to folder choose form --}}
        <div>
          <form action="/bookmarks/choose-folders/{{_id}}" method="get">
            <button class="none-btn"><img height="25" src="/images/folder.png"
                alt="folder"></button>
          </form>
        </div>
      </div>

      {{!-- CARD BODY TEXT --}}
      <div class="card-body text-center py-3">
        <h6 class="card-subtitle"><u>{{title}}</u></h6>
        {{#if description}}
        <p class="card-text ">{{description}}</p>
        {{/if}}
      </div>
      {{/unless}}

      {{#if webUrl}}
      <div class="card-body">
        <h6 class="text-center"><a href="{{webUrl}}" target="_blank">{{webUrl}}</a></h6>
      </div>

      {{else}} {{#if imageUrl}}
      <img src="{{imageUrl}}" alt="{{title}}" class="resImg">

      {{else}} {{#if vidUrl}}
      <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{vidUrl}}"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="true"></iframe>
      </div>

      {{else}} {{#if cpUrl}}
      <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{cpUrl}}?theme-id=dark&default-tab=html,result" loading="lazy"
          allowtransparency="true" allowfullscreen="true"></iframe>
      </div>

      {{else}} {{#if riUrl}}
      <div class="embed-responsive embed-responsive-21by9 ">
        <iframe class="embed-responsive-item" src="{{riUrl}}?lite=true"></iframe>
      </div>

      {{else}} {{#if gitRepo}}
      <div class="card text-center justify-content-center">
        <div class="card-header py-1 d-flex">
          <div class="justify-content-left">
            <form action="/{{id}}/delete" method="POST">
              <button class="none-btn"><img height="25" src="/images/delete.png"
                  alt="delete"></button>
            </form>
          </div>
          <h5 class="card-text text-center mb-0">{{lang}} </h5>
            {{!-- link to folder choose form --}}
        <div>
          <form action="/bookmarks/choose-folders/{{_id}}" method="get">
            <button class="none-btn"><img height="25" src="/images/folder.png"
                alt="folder"></button>
          </form>
        </div>
        </div>
        <div class="card-body">
          {{!-- <div class="github-card" data-github="{{gitRepo}}" data-width="400" data-height="153" data-theme="default"></div> --}}
          <object type="image/svg+xml" data="https://gh-card.dev/repos/{{gitRepo}}.svg?fullname=&link_target=_blank"></object>
        </div>
        <p class="card-text text-center">{{description}}</p>

        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}

        {{!-- CARD FOOTER--}}
        <div class="bottomCard card-footer py-0">
          {{!-- date --}}
          <div><i>{{date}}</i></div>
          {{!-- edit --}}
          <div><button class="none-btn"><a href="/{{_id}}/edit"><img height="25"src="/images/edit.png" alt="edit"></a></button>
          </div>

          {{!-- bookmarks --}}
          <div>
            <form action="/{{id}}/bm" method="POST">
              <input hidden checked type="radio" name="fav" value="{{fav}}">
              <button class="bookBtn none-btn"
                style="object-fit: contain; object-position: center;"><img
                  height="25" src="/images/bookmarked.png" alt="logo"></button>
            </form>
          </div>
          {{!-- end bottom card FOOTER --}}
        </div>
        {{!-- end each card --}}
      </div>
    </div>
    {{/each}}
  </div>


