
<center>
<h3 class="head"><u>Choose Folder(s) for Bookmark: </u></h3>
</center>
<br>
<center><h4 class="head">{{foundRes.lang}}{{#if foundRes.title}}: {{foundRes.title}}{{/if}}</h4></center>

<hr>

 <label for="foldersLabel"><h4><u>FOLDERS</u></h4></label>
  <div class="list-box">
    {{#each foldersFromDB}}
    <button class="btn  {{#if folderSelected}}red-btn {{else}} blue-btn{{/if}}"><a href="/bookmarks/addRemove/{{this._id}}/{{../foundRes._id}}">{{#if folderSelected}}remove{{else}} add {{/if}}</a></button> <h5>{{this.name}} </h5>
    {{/each}}
  </div>
  <br>


  <h6><a style="background-color: #1B1395 " href="/bookmarks">Back</h6></a>