<br>
<br>
<center><h2 class="head">FOLDER: <br> {{foundFolder.name}}</h2></center>
<br>

<hr>
<br>



{{!-- ////////////////////////// --}}

<div class="row justify-content-center">
  {{#each foundFolder.resources}} 
  <div class="col-9 mb-5">
    {{#unless gitRepo}}
    <div class="card ">
      {{!-- CARD HEADER --}}
      <div class="card-header py-1 ">

        <div class="justify-content-left">
          <form action="/{{id}}/delete" method="POST">
            <button class="none-btn"><img height="25" src="/images/delete.png"
                alt="delete"></button>
          </form>
        </div>
        {{#if topic}}
        <h5 class="card-text text-center mb-0">{{lang}}: <b><i>{{topic}}</i></b></h5>
        {{else}}
        <h5 class="card-text text-center mb-0">{{lang}} </h5>
        {{/if}}
        {{!-- link to folder choose form --}}
        <div>
          <form action="/bookmarks/choose-folders/{{_id}}" method="get">
            <button style="background:none; border:none;"><img height="25" src="/images/folder.png"
                alt="folder"></button>
          </form>
        </div>
      </div>

      {{!-- CARD BODY TEXT --}}
      <div class="card-body text-center py-3">
        <h6 class="card-subtitle"><u>{{title}}</u></h6>
        {{#if description}}
        <p class="card-text ">{{description}}</p>
        {{/if}}
      </div>
      {{/unless}}

      {{#if webUrl}}
      <div class="card-body">
        <h6 class="text-center"><a href="{{webUrl}}" target="_blank">{{webUrl}}</a></h6>
      </div>

      {{else}} {{#if imageUrl}}
      <img src="{{imageUrl}}" alt="{{title}}" class="resImg">

      {{else}} {{#if vidUrl}}
      <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{vidUrl}}"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="true"></iframe>
      </div>

      {{else}} {{#if cpUrl}}
      <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{cpUrl}}?theme-id=dark&default-tab=html,result" loading="lazy"
          allowtransparency="true" allowfullscreen="true"></iframe>
      </div>

      {{else}} {{#if riUrl}}
      <div class="embed-responsive embed-responsive-21by9 ">
        <iframe class="embed-responsive-item" src="{{riUrl}}?lite=true"></iframe>
      </div>

      {{else}} {{#if gitRepo}}
      <div class="card text-center justify-content-center">
        <div class="card-header py-1 d-flex">
          <div class="justify-content-left">
            <form action="/{{id}}/delete" method="POST">
              <button class="none-btn"><img height="25" src="/images/delete.png"
                  alt="delete"></button>
            </form>
          </div>
          <h5 class="card-text text-center mb-0">{{lang}} </h5>
            {{!-- link to folder choose form --}}
        <div>
          <form action="/bookmarks/choose-folders/{{_id}}" method="get">
            <button class="none-btn"><img height="25" src="/images/folder.png"
                alt="folder"></button>
          </form>
        </div>
        </div>
        <div class="card-body">
          {{!-- <div class="github-card" data-github="{{gitRepo}}" data-width="400" data-height="153" data-theme="default"></div> --}}
          <object type="image/svg+xml" data="https://gh-card.dev/repos/{{gitRepo}}.svg?fullname=&link_target=_blank"></object>
        </div>
        <p class="card-text text-center">{{description}}</p>

        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}

        {{!-- CARD FOOTER--}}
        <div class="bottomCard card-footer py-0">
          {{!-- date --}}
          <div><i>{{date}}</i></div>
          {{!-- edit --}}
          <div><button class="none-btn"><a href="/{{_id}}/edit"><img height="25"
                  src="/images/edit.png" alt="edit"></a></button></div>

          {{!-- bookmarks --}}
          <div>
            <form action="/{{id}}/bm" method="POST">
              <input hidden checked type="radio" name="fav" value="{{fav}}">
              <button class="bookBtn none-btn"
                style="object-fit: contain; object-position: center;"><img
                  height="25" src="/images/bookmarked.png" alt="logo"></button>
            </form>
          </div>
          {{!-- end bottom card FOOTER --}}
        </div>
        {{!-- end each card --}}
      </div>
    </div>
    {{/each}}
    
  </div>